* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: red;
}
.user-form{
    display: flex;
    justify-content: center;
}

.form-item{
    padding: 20px 10px;
    text-align: center;
}
.ticket{
    display: none;
}
.ticket.active{
    display: block;
}
.ticket.disactive{
    display: none;
}
.ticket{
    text-align: center;
    justify-content: center;
    padding: 20px 40px;
}